{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
<img src="https://scontent.fcgk5-1.fna.fbcdn.net/v/t1.15752-9/40621637_1800720953368587_7012541405104963584_n.jpg?_nc_cat=111&_nc_oc=AQkeHRuUqr4Kft8Y7vs1AP7_ZZqemlsK-XGpFjGCikPoCSbxhTypiY8rfaladykV3lU&_nc_ht=scontent.fcgk5-1.fna&oh=f5c64d8c6df8288d4eab0d8889cf6a8a&oe=5EA09923" style="width:100%">
    <div class="card-body">
        <p class="card-text">I am Lay Acheadeth, 20 years old, love coding and travelling, and this is some of the places I have visited </p>
    </div>
</div>
</div>

{% endblock sidebar %}
<!--reference: https://djangocentral.com/creating-comments-system-with-django/-->